*{
    margin: 0;
    padding: 0;
}

.chatHistory{
    overflow: scroll;
    height: 80vh;
}
.chat-area{
    position: absolute;
    bottom: 0;
}
span.chatButton {
    border: 1px solid;
    width: 9%;
    display: flex;
    justify-content: center;
    border-radius: 17px;
    font-size: 1.25rem;
    align-items: center;
    padding: 0px 22px;
    i{
        margin: 0px;
        transform: rotate(-42deg);
    }
}
ls-productivity-tools {
    margin: 3px 2rem;
}
h2{
    font-size: 1.5rem !important;
}
h3{
    font-size: 1.25rem !important;
}
h4{
    font-size: 1rem !important;
}
mat-icon.mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color {
    font-size: 1.5rem;
}
.q-pa-md {
    padding: 11px 10px;
}